
#ubermenu_custom_nav_items{
	display:block !important;
}
#tabs-panel-ubermenu-custom{
	max-height:none;
}
#ubermenu-custom-menu-metabox .button-controls:after{
	display:table;
	content:'';
	clear:both;
}

#wpfooter{
	padding-bottom:40px;
}

body.ubermenu-settings-panel-is-open #wpwrap{
	padding-bottom:500px;
}

.ubermenu-settings-toggle{
	font-size:10px;
	position:absolute;
	margin-top:-2px;
	padding:3px 6px;
	margin-left:8px;
	background:#444;
	color:#eee;
	border-left:2px solid #4D90FE;
	cursor:pointer;
	opacity:0;
	visibility:hidden;
	display:inline-block;

	transition: opacity .5s ease;
	white-space:nowrap;
	left:auto;
	line-height:12px;
}
.menu-item:hover .ubermenu-settings-toggle,
.menu-item:hover .shiftnav-settings-toggle{ /* Stopgap */
	opacity:1;
	display:inline;
	visibility:visible;
	z-index:50;
	position:relative;
	left:auto;
	margin-left: 5px;
}
.ubermenu-settings-toggle i[class^="fa"],
.ubermenu-settings-toggle .svg-inline--fa{
	font-size:inherit;
	position:relative;
}
/*
.menu-item:hover .shiftnav-settings-toggle{
	margin-left:65px;
}
*/
.menu-item:hover .is-submenu{
	display:none;
}

.ubermenu-unsaved .ubermenu-settings-toggle{
	opacity:1;
	visibility:visible;
}
.ubermenu-unsaved-alert{
	display:none;
	margin-left:4px;
	color: #FAC92C;
}
.ubermenu-unsaved .ubermenu-unsaved-alert{
	display:inline;
}
.ubermenu-unsaved-alert-message{
	max-width:0;
	overflow:hidden;
	visibility:hidden;
	opacity:0;
	-webkit-transition:all .2s ease-in;
	transition:all .2s ease-in;
	position:absolute;
	background:#FAC92C;
	color:#f9f9f9;
	text-shadow:0px 0px 1px rgba(0,0,0,.3);
	left:100%;
	padding:0 3px;
	line-height:18px;
	height:100%;
	display:inline-block;
	top:0;
	left:100%;
}
.ubermenu-unsaved:hover .ubermenu-unsaved-alert-message{
	max-width:100px;
	visibility:visible;
	opacity:1;
}
.ubermenu-unsaved:not(:hover) .ubermenu-settings-toggle {
    margin-top: 2px;
    display: inline-block;
}

/* Wrapper */
.ubermenu-menu-item-settings-wrapper,
.ubermenu-menu-item-settings-wrapper *,
.ubermenu-js-check,
.ubermenu-js-check *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
.wp-picker-container,
.wp-picker-container *{
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	-o-box-sizing:content-box;
	box-sizing:content-box;
}
.ubermenu-menu-item-settings-wrapper{
	position:relative;
	background:#191919;
	height:0px;
	width:100%;
	overflow:hidden;
	position:fixed;
	bottom:0;
	left:0;
	z-index:99999;

	transition:all .5s ease;

	box-shadow:0 0 10px #111;
	backface-visibility:hidden; /* fixed flash on hover */

}
.ubermenu-menu-item-settings-open{
	width:100%;
	height:600px;
	max-height:60%;
	overflow-x:hidden;
	overflow-y:auto;
	border-top:2px solid #4D90FE;
	padding-top:50px;
}
.ubermenu-menu-item-settings-wrapper label{
	color:#999;
}

.ubermenu-menu-item-settings-wrapper label.ubermenu-radio-label-selected{
	color:#C2203C;
	font-weight:bold;
}


/* Topper */
.ubermenu-menu-item-settings-topper{
	padding:15px 20px;
	font-size:12px;
	width:100%;
}
.ubermenu-menu-item-settings-open .ubermenu-menu-item-settings-topper{
	position:fixed;
	z-index:100;
	margin-top:-50px;
	background:#191919;
	border-bottom: 1px solid #000;
	box-shadow: 0 0 1px #333;
	text-align:left;
}
.ubermenu-up-link{
	color:#fff;
	background:#4D90FE;
	font-size:10px;
	font-weight:bold;
	text-transform: uppercase;
	text-decoration: none;
	padding:2px 6px;
	display:inline-block;
	margin-left:5px;
}
.ubermenu-up-link:hover{
	color:#fff;
	background:#286FE4;
}


/* Info Panel */
.ubermenu-menu-item-panel{

}
.ubermenu-menu-item-panel-info{
	width:240px;
	min-height:200px;
	position:relative;
	z-index:50;

	color:#eee;
	float:left;
}

/*.ubermenu-menu-item-stats{
	padding:0 20px 20px 20px;
	position: fixed;
	z-index: 1000;
	top: auto;
	margin-top: -52px;
	left: 220px;
}
.ubermenu-menu-item-title{
	font-size:22px;
	font-weight:normal;
	padding:10px 0;
	line-height:26px;
}
.ubermenu-menu-item-id,
.ubermenu-menu-item-type{
	float:left;
	padding:5px 10px;
	background:#333;
	color:#ccc;
	margin-right:5px;
}
*/
.ubermenu-menu-item-stats{
	padding:10px 10px 10px 10px;
	position: fixed;
	z-index: 1000;
	top: auto;
	margin-top: -50px;
	left: 230px;
}
.ubermenu-menu-item-title{
	font-size:18px;
	font-weight:normal;
	padding:3px 0;
	line-height:20px;
	float:left;
	margin-right:20px;
}
.ubermenu-menu-item-title a{
	color:#fff;
	text-decoration:none;
}
/*.ubermenu-menu-item-title a:before{
	content:"\f124";
	font-family:"FontAwesome";
	font-weight:normal;
	position:absolute;
	left:-10px;
	font-size:14px;
	color:#999;
	text-align:center;
	opacity:.5;
	transition:all .3s ease-in;
	text-shadow:0 0 10px #000;
}
*/
.ubermenu-menu-item-title a i[class^="fa"],
.ubermenu-menu-item-title a .svg-inline--fa{
	position:absolute;
	left:-13px;
	margin-top:2px;
	font-size:14px;
	color:#999;
	text-align:center;
	opacity:.5;
	transition:all .3s ease-in;
	text-shadow:0 0 10px #000;
}
/*.ubermenu-menu-item-title a:hover:before{
	visibility:visible;
	opacity:1;
	transform:rotate(0deg);
	color:#4D90FE;
	text-shadow:0 0 3px #000, 0 0 35px rgba(255,255,255,.9);
}*/
.ubermenu-menu-item-title a:hover i[class^="fa"],
.ubermenu-menu-item-title a:hover .svg-inline--fa{
	visibility:visible;
	opacity:1;
	transform:rotate(0deg);
	color:#4D90FE;
	text-shadow:0 0 3px #000, 0 0 35px rgba(255,255,255,.9);
}
.ubermenu-menu-item-id,
.ubermenu-menu-item-type{
	float:left;
	padding:5px 10px;
	background:#333;
	color:#ccc;
	margin-right:5px;
}




.ubermenu-menu-item-id{
	font-family:monospace;
}
.ubermenu-menu-item-id a{
	text-decoration:none;
	color:inherit;
}
.ubermenu-menu-item-type{
	text-transform:uppercase;
	font-size:10px;
}
.ubermenu-menu-item-tabs{
	margin-top:20px;
	margin-top:-1px;
	list-style:none;
	clear:both;
}





/* Settings Panel */
.ubermenu-menu-item-panel-settings{
	margin-left:240px;
	border-left:1px solid #111;
}

.ubermenu-menu-item-tab{
	display:block;
	margin:0;

}
.ubermenu-menu-item-tab a{
	position: relative;
	text-decoration: none;
	color:#eee;
	text-align:right;
	display:block;

	padding:10px;
	background:#333;
	border-bottom:1px solid #222;
	border-top:1px solid #444;
}
.ubermenu-menu-item-tab a:hover,
.ubermenu-menu-item-tab a.ubermenu-menu-item-tab-current{
	background:#4D90FE;
}
.ubermenu-menu-item-tab a.ubermenu-menu-item-tab-current:after{
	content:"";
	border:6px solid transparent;
	border-right-width:0;
	border-left-color:#4D90FE;
	position:absolute;
	left:100%;
	top:50%;
	margin-top:-6px;
}
.ubermenu-menu-item-tab i[class^="fa"],
.ubermenu-menu-item-tab .svg-inline--fa{
	margin-left:10px;
	font-size:14px;
	width:20px;
	text-align:center;
}

.ubermenu-menu-item-tab-content{
	position:relative;
	z-index:10;
}


.ubermenu-menu-item-tab-header{
	padding:26px 30px 10px 30px;
	color:#eee;
	background: #333;
	border-bottom: 1px solid #000;
	/*border-top: 2px solid #666;
	border-top:1px solid #444;*/
}
.ubermenu-menu-item-tab-header h3{
	color:#fff; /*#4D90FE;*/
	font-weight:bold;
	margin-top: 0;
	font-size: 20px;
}
.ubermenu-menu-item-tab-header h3 i[class^="fa"],
.ubermenu-menu-item-tab-header h3 .svg-inline--fa{
	margin-right:6px;
}
.ubermenu-menu-item-tab-header-info,
.ubermenu-menu-item-tab-header-tip,
.ubermenu-menu-item-tab-header-warning{
	position:relative;
	width:700px;
	max-width:100%;
	background:#eee;
	padding:10px;
	border:0px solid #aaa;
	border-left-width:36px;
	color:#444;
	margin-bottom:10px;
}
.ubermenu-menu-item-tab-header-info .ubermenu-panel-info-icon,
.ubermenu-menu-item-tab-header-tip .ubermenu-panel-info-icon,
.ubermenu-menu-item-tab-header-warning .ubermenu-panel-info-icon{
	position:absolute;
	left:-36px;
	color:white;
	width:36px;
	text-align:center;
	top: 50%;
	margin-top: -7px;
}
.ubermenu-menu-item-tab-header-tip{
	border-color:#4D90FE;
}
.ubermenu-menu-item-tab-header-warning{
	border-color:#B42971;
}

.ubermenu-menu-item-setting{
	padding:10px 30px 10px 30px;
	float:left;
	width:100%;
	position:relative;
}
.ubermenu-menu-item-setting:hover{
	z-index:20;
}
.ubermenu-menu-item-setting:nth-child(2n+1){
	background:#161616;
}

.ubermenu-item-setting-title{
	display:block;
	float:left;
}

/* Levels */
.ubermenu-menu-item-panel[data-depth="0"] .ubermenu-menu-item-setting-depth-1-above{
	display:none;
}

.ubermenu-item-setting-scenario{
	position:relative;
	display:block;
	float:left;
	clear:both;
	margin-top:5px;
	padding:0px 4px;
	background:#666;
	color:#ccc;
	font-size:10px;
	z-index:20;
}
.ubermenu-item-setting-scenario:hover{
	background:#4D90FE;
	color:eee;
}
.ubermenu-item-setting-scenario-tip{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#ccc;
	color:#666;
	padding:8px;
	font-size:11px;
	width:300px;
}
.ubermenu-item-setting-scenario:hover .ubermenu-item-setting-scenario-tip{
	display:block;
}

.ubermenu-menu-item-setting-label{
	float:left;
	display:block;
	width:200px;
	color:#d9d9d9;
	padding:10px 20px 10px 0;
}
.ubermenu-menu-item-setting-input-wrap{
	/*margin-left:120px;*/
	float:left;
	max-width:840px;
	padding:10px 0;
}
.ubermenu-menu-item-setting-description{
	display:block;
	padding:10px 0;
	color:#aaa;
	max-width:500px;
	clear:both;
}

.ubermenu-desc-list{
	list-style:disc;
	padding-left:20px;
}


/* Tips */
.ubermenu-menu-item-setting-tip{
	display:none;
	position:absolute;
	left:30px;
	bottom:100%;
	width:700px;
	max-width:100%;
	background:#eee;
	padding:20px;
	border-left:36px solid #4D90FE;
	color:#444;
}
.ubermenu-menu-item-setting:hover .ubermenu-menu-item-setting-tip,
.ubermenu-clear-settings:hover .ubermenu-menu-item-setting-tip{
	display:block;
}
.ubermenu-menu-item-setting-tip:before{
	content:'';
	position:absolute;
	left:-28px;
	top:100%;
	border:10px solid transparent;
	border-width:10px 10px 0px 10px;
	border-top-color:#4D90FE;
}
.ubermenu-menu-item-setting-tip .ubermenu-tip-icon{
	position:absolute;
	left:-23px;
	top:50%;
	margin-top:-10px;
	color:#fff;
	font-size:20px;
}


.ubermenu-radio-blocks .ubermenu-radio-option{
	background:#111;
	margin-bottom:10px;
	max-width:400px;
	width:400px;
	float:left;
	margin-right:20px;
}
.ubermenu-radio-blocks .ubermenu-radio-label{
	display:block;
	clear:both;
	color:#fff;
	padding:10px;
	font-weight:bold;
	background:#222;
}
.ubermenu-radio-blocks .ubermenu-radio-label:hover,
.ubermenu-radio-blocks .ubermenu-radio-label-selected{
	background:#BB1946;
	background: #e9e9e9;
	color: #333;
	font-weight:bold;
	border-right: 2px solid #2E6BD8;
}
.ubermenu-radio-blocks .ubermenu-radio-label:hover .ubermenu-radio-desc,
.ubermenu-radio-blocks .ubermenu-radio-label-selected .ubermenu-radio-desc{
	color:#777;
}
.ubermenu-radio-blocks .ubermenu-radio-desc{
	padding:5px 5px 5px 23px;
	color:#aaa;
	font-size:11px;
}
.ubermenu-radio-blocks .ubermenu-radio-label-with-image{
	min-height:125px;
}
.ubermenu-radio-blocks .ubermenu-radio-label-with-image input{
	/*display:none;*/
}
.ubermenu-radio-blocks .ubermenu-radio-label-with-image img,
.ubermenu-radio-blocks .ubermenu-radio-img-icon{
	float:left;
	margin-right:15px;
	border:2px solid transparent;
}
.ubermenu-radio-blocks .ubermenu-radio-label-with-image.ubermenu-radio-label-selected img,
.ubermenu-radio-blocks .ubermenu-radio-label-with-image.ubermenu-radio-label-selected .ubermenu-radio-img-icon{
	border:2px solid #2E6BD8;
}
.ubermenu-radio-blocks .ubermenu-radio-img-icon{
	width:150px;
	font-size:25px;
	display:block;
	float:left;
	padding:20px;
	color:#777;
	text-align:center;
}

.ubermenu-radio-multiple-subgroups .ubermenu-radio-subgroup{
	float:left;
	padding-right:25px;
	padding-bottom:25px;
	min-width:70px;
	min-height:90px;
}
.ubermenu-radio-multiple-subgroups.ubermenu-radio-blocks .ubermenu-radio-subgroup{
	padding-right:0;
}
h4.ubermenu-radio-group-title{
	margin:0 0 10px 0;
	padding-bottom:5px;
	font-weight:600;
	border-bottom:1px solid #333;
}

/*.ubermenu-radio-multiple-subgroups .ubermenu-radio-subgroup.ubermenu-radio-subgroup-group1{
	min-width:140px;
}*/


.ubermenu-multicheck-label{
	width:130px;
	display:block;
	float:left;
}


.ubermenu-autocomplete,
.ubermenu-autocomplete *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
.ubermenu-autocomplete{
	position:relative;
	width:300px;
}
.ubermenu-autocomplete input{
	padding:10px 41px 10px 10px;
	height:41px;
	width:300px;
	margin:0;
}
.ubermenu-autocomplete-toggle{
	position:absolute;
	top:0;
	right:0;
	height:41px;
	width:41px;
	padding:12px;
	border-left:1px solid #ddd;
	text-align:center;
	cursor:pointer;

}
.ubermenu-autocomplete-clear{
	position:absolute;
	top:0;
	left:100%;
	height:41px;
	width:41px;
	padding:12px;
	text-align:center;
	cursor:pointer;
}
.ubermenu-autocomplete-clear:hover{
	color:red;
}
.ubermenu-autocomplete-ops{
	width:300px;
	border:1px solid #ddd;
	background:#e9e9e9;

	display:none;

	max-height:200px;
	overflow-y:auto;

}
.ubermenu-autocomplete-ops .ubermenu-autocomplete-op{
	display:block;
	padding:10px;
	border-bottom:1px solid #ddd;
	cursor:pointer;
	position:relative;
}
.ubermenu-autocomplete-ops .ubermenu-autocomplete-op:hover{
	background:#d0d0d0;
}
.ubermenu-autocomplete-op-name{
	padding-right:20px;
}
.ubermenu-autocomplete-op-val{
	float:right;
}

.ubermenu-autocomplete input.ubermenu-menu-item-setting-input{
	position:absolute;
	top:0;
	right:41px;
	width:41px;
	border-width:0 0 0 1px;
	padding:4px;
	text-align:center;
	color:#999;
}



/* Item Layouts */
.ubermenu-menu-item-setting-item_layout .ubermenu-radio-group .ubermenu-radio-subgroup{
	padding:0;
}




/* Saving */

.ubermenu-menu-item-save-button-wrapper{
	right:0px;
	vertical-align:top;

	position:absolute;
	top:0px;
	margin-top:0;
}
.ubermenu-menu-item-settings-open .ubermenu-menu-item-save-button-wrapper{
	position:fixed;
	z-index:100;
	top:auto;
	margin-top:-50px;
	/*
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	*/
}
.ubermenu-menu-item-meta-ops-wrap{
	float:right;
	padding:7px 0;
	max-height:35px;
}
.ubermenu-menu-item-toggle-meta-ops{
	padding:6px 7px;
	float:right;
	color:#ddd;
}
.ubermenu-menu-item-meta-ops-wrap:hover .ubermenu-menu-item-toggle-meta-ops{
	color:#2e6bd8;
}
.ubermenu-menu-item-meta-ops{
	max-width:0;
	display:block;
	float:right;
	transition:max-width .2s ease-in;
	height:20px;

	font-size:12px;
	padding-top:2px;
}
.ubermenu-menu-item-meta-ops input[type="checkbox"]{
	min-width:10px;
	min-height:10px;
	margin-left:15px;
}
.ubermenu-menu-item-meta-ops label{
	max-height:20px;
	overflow:hidden;
	display:block;
}
.ubermenu-menu-item-meta-ops-wrap:hover .ubermenu-menu-item-meta-ops{
	max-width:500px;


	padding-right:10px;
}

.ubermenu-menu-item-meta-ops .ubermenu-menu-item-setting{
	padding:2px;
	display: inline-block;
	width: auto;
	max-width:100%;
}
.ubermenu-menu-item-meta-ops .ubermenu-menu-item-setting-tip{
	min-width:500px;
	max-width:none;
	width:auto;
	bottom:auto;
	top:100%;
	left:auto;
	right:30px;
	margin-top:20px;
}
.ubermenu-menu-item-meta-ops .ubermenu-menu-item-setting-tip:before{
	bottom:100%;
	top:auto;
	right:0;
	left:auto;
	border-width:0 15px 15px 15px;
	border-bottom-color:#eee; /*4D90FE;*/
}



/* Clear Settings */
.ubermenu-clear-settings{
	float: right;
	padding: 11px 10px;
	color: #FFF;
	margin-left:10px;
	cursor:pointer;
}
.ubermenu-clear-settings:hover{
	background:#990000;
	color:#fff;
}
.ubermenu-menu-item-setting-tip-below{
	bottom:auto;
	top:100%;
	left:auto;
	width:auto;
	margin-top:20px;
	margin-left:-10px;
}
.ubermenu-menu-item-setting-tip-below:before{
	bottom:100%;
	top:auto;
	border-width:0 10px 10px 10px;
	border-bottom-color:#4D90FE;
}

.ubermenu-menu-item-status{
	float:right;
	padding:10px 10px;
	color:white;
	height:40px;
	font-size:12px;
}
.ubermenu-status-message{
	max-width:0;
	overflow:hidden;
	visibility: hidden;
	display:block;
	float:left;
	transition:max-width .5s ease;
}
.ubermenu-menu-item-status:hover{
	height:auto;
}
.ubermenu-menu-item-status:hover .ubermenu-status-message{
	max-width:300px;
	visibility: visible;
}
.ubermenu-status-message textarea{
	width:100%;
	font-size:11px;
	background:rgba(255,255,255,.3);
	font-family:monospace;
	height:200px;
	margin:10px 0;
	border:none;
}
.ubermenu-menu-item-status i,
.ubermenu-menu-item-status .svg-inline--fa{
	display:none;
	margin:3px 10px;
	float:left;

	/*position:relative;
	width:33px;
	height:19px;*/
}

.ubermenu-menu-item-status-success{
	background:#1E884D;
}
.ubermenu-menu-item-status-working{
	background:#7773D1;
}
.ubermenu-menu-item-status-warning{
	background: #FAC92C;
	color:#AF400C;
}
.ubermenu-menu-item-status-error{
	background:#C50B0B;
}
.ubermenu-menu-item-status-save .ubermenu-status-save,
.ubermenu-menu-item-status-success .ubermenu-status-success,
.ubermenu-menu-item-status-working .ubermenu-status-working,
.ubermenu-menu-item-status-warning .ubermenu-status-warning,
.ubermenu-menu-item-status-error .ubermenu-status-error{
	display:inline-block;
}

.ubermenu-menu-item-status i.ubermenu-status-working,
.ubermenu-menu-item-status .svg-inline--fa.ubermenu-status-working{
	-webkit-animation:spin 2s infinite;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.ubermenu-menu-item-save-button{
	height:40px;
	padding:10px 20px;
	background:#4D90FE;
	color:#eee;
	font-weight:normal;
	border:none;
	cursor: pointer;
	float:right;
	display:block;
	margin:0;
	text-decoration: none;
}
.ubermenu-menu-item-save-button:hover{
	background:#286FE4;
}

.ubermenu-menu-item-settings-close{
	float:right;
	display:block;
	height:40px;
	padding:10px 20px;
	color:#ddd;
	cursor:pointer;
	text-decoration: none;
}
.ubermenu-menu-item-settings-close:hover{
	color:tomato;
}

.ubermenu-key{
	display:inline-block;
	font-size:9px;
	font-weight:bold;
	text-transform: uppercase;
	background:#aaa;
	color:#666;
	padding:2px 4px 1px 4px;
	margin-left:8px;
	border-radius:2px;
}

.shift-clearfix:after {
  content: "";
  display: table;
  clear: both;
}



.ubermenu-menu-item-setting-input-wrap textarea{
	width:400px;
	max-width:100%;
	height:250px;
	padding:10px;
	font-size:12px;
}



.ubermenu-icon-settings-wrap{
	position:relative;
}
.ubermenu-menu-item-setting-icon select{
	float:left;
	clear:both;
	display:none;
}
.ubermenu-icon-selected{
	color:#eee;
	float:left;
	width:100px;
	font-size:20px;
	padding:20px 0;
	background:#333;
	height:70px;
	width:70px;
	text-align:center;
	margin-right:20px;
	cursor:pointer;
	position:relative;
	border-bottom:2px solid #4D90FE;
}
.ubermenu-icon-selected:hover{
	background:#444;
}
.ubermenu-icon-set-icon{
	font-size:10px;
	text-align:center;
	text-transform: uppercase;
	position:absolute;
	bottom:5px;
	left:0;
	width:100%;
}
.ubermenu-icons{
	display:none;
	background:#eee;
	padding:10px;

	width:420px;
	font-size:14px;

	position:absolute;
	left:75px;
	border-bottom:2px solid #333;

}
.ubermenu-icon-wrap{
	padding:10px;
	display:block;
	float:left;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;

	width:35px;
	text-align:center;
}
.ubermenu-icon-wrap:hover{
	background:#ccc;
}
.ubermenu-icon-wrap.ubermenu-remove-icon{
	width:auto;
	float:right;
}

.ubermenu-icons-search{
	border:none;
	width:100%;
	display:block;
	background:none;
	padding:10px;
}



@media only screen and (min-width:1140px){
	.ubermenu-icons{ width:580px; }
}
@media only screen and (min-width:1400px){
	.ubermenu-icons{ width:800px; }
}
@media only screen and (min-width:1700px){
	.ubermenu-icons{ width:1080px; }
}
@media only screen and (max-width:767px){
	.ubermenu-menu-item-panel-info{
		float:none;
		width:100%;
		min-height:0;
	}
	.ubermenu-menu-item-title{
		float:left;
	}
	.ubermenu-menu-item-id,
	.ubermenu-menu-item-type{
		margin:10px 0 0 10px;
	}
	.ubermenu-menu-item-tabs{
		margin:0;
	}
	.ubermenu-menu-item-tabs li{
		float:left;
	}
	.ubermenu-menu-item-tab a.ubermenu-menu-item-tab-current:after{
		border:6px solid transparent;
		border-top-color:#4D90FE;
		position:absolute;
		left:50%;
		top:auto;
		bottom:-12px;
		margin-left:-6px;
	}
	.ubermenu-menu-item-panel-settings{
		float:none;
		width:100%;
		clear:both;
		margin-left:0;
		border-left:none;

	}

	.ubermenu-icons{
		left:0;
		top:75px;
		width:200px;
	}

	.ubermenu-menu-item-stats{
		display:none;
	}
}

@media screen and (max-width:1350px){
	.ubermenu-menu-item-setting-input-wrap{
		max-width:500px;
	}
	.ubermenu-radio-multiple-subgroups .ubermenu-radio-subgroup{
		min-width:25%;
	}
	.ubermenu-radio-multiple-subgroups .ubermenu-radio-subgroup:nth-child(4n+1){
		clear:both;
	}
}

@media screen and (min-height:800px){
	.ubermenu-menu-item-panel-info{
		position:fixed;
	}
}




.ubermenu-js-check{
	position:fixed;
	bottom:0;
	right:0;
	z-index:500;
}
.ubermenu-js-check-peek{
	background:#4D90FE;
	color:#fff;

	font-weight:bold;
	padding:20px;
	float:right;
}
.ubermenu-js-check-details{
	height:0;
	visibility:hidden;
	overflow:hidden;
	float:left;
	clear:both;
	background:#222;
	color:#eee;

	width:500px;
	max-width:100%;

	transition:height .2s ease;
}
.ubermenu-js-check-details p{
	padding:20px;
}
.ubermenu-js-check:hover .ubermenu-js-check-details{
	height:140px;
	visibility:visible;
}


.ubermenu-upgrade-link{
	color:#666;
}
.ubermenu-upgrade-link:hover{
	color:#4D90FE;
}


#tabs-panel-ubermenu-custom,
.ubermenu_custom_nav_items .accordion-section-content{
	overflow:visible;
}
.um-tooltip-wrap{
	position:relative;
}
.um-tooltip{
	display:none;
	position:absolute;
	left:23px;
	/*top:150%;*/
	bottom:150%;
	background:#444;
	color:#eee;
	padding:10px 15px;
	z-index:20;
	width:175px;
	font-size:12px;
	/*border-top:2px solid #4D90FE;*/
	border-bottom:2px solid #4D90FE;
	line-height:1.5em;
}
.um-tooltip:before{
	content:'';
	position:absolute;
	left:10px;
	/*bottom:100%;*/
	top:100%;
	border:8px solid transparent;
	/*border-bottom-color:#4D90FE;*/
	border-top-color:#4D90FE;
}
*:hover > .um-tooltip,
.um-tooltip-wrap:hover > .um-tooltip{
	display:block;
}



/* Media */
.ubermenu-media-wrapper{
	min-width:370px;
}
.media-preview-wrap{
	margin-right:20px;
	float:left;
}
.media-preview-wrap img{
	max-width:400px;
}
.ubermenu-media-buttons{
	float:left;
	width:150px;
}
.ubermenu-media-id{
	display:none;
}
.ubermenu-setting-button{
	background:#4D90FE;
	color:#eee;
	padding:10px 15px;
	border:none;
	min-width:150px;
	display:block;
	text-align:center;
	margin:0 0 10px 0;
	cursor:pointer;
	clear:both;
}
.ubermenu-setting-button:hover{
	color:#fff;
	background:#3C80ED;
}
.ubermenu-remove-button,
.ubermenu-edit-media-button{
	font-size:11px;
	font-weight:bold;
	clear:both;
	display:block;
	color:#990000;
	margin:10px 0;
	background:#eee;
	padding:5px 10px;
	border-left:2px solid #990000;
	cursor:pointer;
	text-decoration: none;
}
.ubermenu-remove-button:hover{
	background:#990000;
	color:#eee;
}
.ubermenu-edit-media-button{
	border-left-color:#169E1B;
	color:#169E1B;
	display:none;
}
.ubermenu-edit-media-button:hover{
	background:#169E1B;
	color:#eee;
}


/* Colorpicker */
.ubermenu-menu-item-setting-color .wp-color-result{
    height:24px;
}



.ubermenu-admin-notice{
	background:#f3f3f3;
	color:#333;
	padding:15px;
	border-left:30px solid #4D90FE;
	margin:20px 0;
	position:relative;
	font-size:12px;
	max-width:750px;
}
.ubermenu-admin-notice a,
.ubermenu-admin-notice a:visited{
	color:#00A3FF;
	text-decoration: underline;
}
.ubermenu-admin-notice a:hover{
	color:#0D75AF;
}
.ubermenu-admin-notice strong{
	color:tomato;
}
.ubermenu-admin-notice .ubermenu-admin-notice-icon{
	position:absolute;
	left:-20px;
	top:50%;
	margin-top:-5px;
	color:#fff;
	font-size:13px;
}
.ubermenu-admin-notice.ubermenu-admin-notice-warning{
	border-style:solid;
	border-color:#FFD428;
	border-width:1px 1px 1px 30px;
}
.ubermenu-admin-notice.ubermenu-admin-notice-warning h3{
	margin-top:0;
	padding:0 0 15px 0 ;
	font-weight:normal;
	border-bottom:1px solid #ddd;
}
.ubermenu-admin-notice.ubermenu-admin-notice-warning h3 a{
	text-decoration: none;
}

.ubermenu-admin-notice-menu-item-limit:after{
	display:none;
	position:absolute;
	content:'Please note that this detection notice is provided by UberMenu, however the issue is not caused by UberMenu.  It will affect your menu with or without UberMenu activated.';
	left:-30px;
	top:100%;
	background:#666;
	color:#eee;
	padding:7px 10px;
	font-size:11px;
	z-index:40;
	background:#444;
}
.ubermenu-admin-notice td{
	vertical-align:top;
}
.ubermenu-admin-notice td.infotip{
	color:#999;
	font-style:italic;
}
.ubermenu-admin-notice:hover:after{
	display:block;
}
.ubermenu-admin-notice table{
	border-collapse: collapse;
}
.ubermenu-admin-notice table td{
	padding:4px 10px;
	border:1px solid #ddd;
}
.ubermenu-admin-notice table td.um-td-150{
	width:150px;
}


.ubermenu-radio-subgroup-col-group2{
	clear:both;
}

.ubermenu-item-setting-cue{
	display:block;
	padding-top:15px;
	clear:both;
	opacity:.5;
}
.ubermenu-menu-item-setting:hover .ubermenu-item-setting-cue{
	opacity:1;
}
.ubermenu-item-setting-cue img{
	display:block;
	margin-bottom:10px;
}


.ubermenu-menu-item-setting-inherit_featured_image .ubermenu-radio-option{
	clear:both;
}




/* Temporarily hide Custom URL field in dynamic items */
.ubermenu-menu-item-panel-type-ubermenu_dynamic_terms .ubermenu-menu-item-setting-custom_url,
.ubermenu-menu-item-panel-type-ubermenu_dynamic_posts .ubermenu-menu-item-setting-custom_url{
	display:none;
}




/* RTL */

.rtl .ubermenu-menu-item-setting-label,
.rtl .ubermenu-item-setting-title,
.rtl .ubermenu-menu-item-setting-input-wrap,
.rtl .ubermenu-radio-multiple-subgroups .ubermenu-radio-subgroup,
.rtl .ubermenu-radio-blocks .ubermenu-radio-option{
	float:right;
}


i.fa{
	font-weight:normal;
	font-family:FontAwesome;
}
