PREFIX .ubermenu,
PREFIX .ubermenu .ubermenu-column,
PREFIX .ubermenu .ubermenu-divider,
PREFIX .ubermenu .ubermenu-icon,
PREFIX .ubermenu .ubermenu-image,
PREFIX .ubermenu .ubermenu-item,
PREFIX .ubermenu .ubermenu-nav,
PREFIX .ubermenu .ubermenu-retractor,
PREFIX .ubermenu .ubermenu-row,
PREFIX .ubermenu .ubermenu-search,
PREFIX .ubermenu .ubermenu-search-input,
PREFIX .ubermenu .ubermenu-search-submit,
PREFIX .ubermenu .ubermenu-submenu,
PREFIX .ubermenu .ubermenu-submenu-footer,
PREFIX .ubermenu .ubermenu-tabs,
PREFIX .ubermenu .ubermenu-tabs-panels,
PREFIX .ubermenu .ubermenu-target,
PREFIX .ubermenu-responsive-toggle {
  margin: 0;
  padding: 0;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  text-indent: 0;
  clip: auto;
  position: static;
  background: 0 0;
  text-transform: none;
  overflow: visible;
  z-index: 10;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 1.3em;
  border: none;
  border-radius: 0;
  pointer-events: auto;
}
PREFIX .ubermenu,
PREFIX .ubermenu .ubermenu-column,
PREFIX .ubermenu .ubermenu-divider,
PREFIX .ubermenu .ubermenu-item,
PREFIX .ubermenu .ubermenu-nav,
PREFIX .ubermenu .ubermenu-retractor,
PREFIX .ubermenu .ubermenu-row,
PREFIX .ubermenu .ubermenu-search,
PREFIX .ubermenu .ubermenu-search-input,
PREFIX .ubermenu .ubermenu-search-submit,
PREFIX .ubermenu .ubermenu-submenu,
PREFIX .ubermenu .ubermenu-submenu-footer,
PREFIX .ubermenu .ubermenu-tabs,
PREFIX .ubermenu .ubermenu-tabs-panels,
PREFIX .ubermenu .ubermenu-target,
PREFIX .ubermenu-responsive-toggle {
  height: auto;
  width: auto;
  max-height: none;
  min-height: 0;
}
PREFIX .ubermenu .ubermenu-image,
PREFIX .ubermenu .ubermenu-submenu-drop {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
PREFIX .ubermenu {
  display: block;
  background: #fff;
  line-height: 1.3em;
  text-align: left;
}
PREFIX .ubermenu-bound {
  position: relative;
}
PREFIX .ubermenu-bound-inner .ubermenu-nav {
  position: relative;
}
PREFIX .ubermenu,
PREFIX .ubermenu-nav {
  overflow: visible!important;
  z-index: 100;
}
PREFIX .ubermenu-nav {
  text-align: inherit;
}
PREFIX .ubermenu-nav,
PREFIX .ubermenu-row,
PREFIX .ubermenu-submenu {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
PREFIX .ubermenu a.ubermenu-target,
PREFIX .ubermenu-trigger-click .ubermenu-has-submenu-drop > .ubermenu-target {
  cursor: pointer;
}
PREFIX .ubermenu span.ubermenu-target {
  cursor: default;
}
PREFIX .ubermenu-accessible .ubermenu-target {
  outline: 0;
}
PREFIX .ubermenu-accessible input:not(:hover):focus,
PREFIX .ubermenu-accessible:not(:hover) .ubermenu-target:focus {
  outline: 1px solid #2cc4ff;
  box-shadow: 0 0 5px #2cc4ff !important;
  z-index: 50;
  transition: outline 0.1s linear;
}
PREFIX .ubermenu-responsive-toggle,
PREFIX .ubermenu-sticky-toggle-wrapper {
  display: none;
  text-decoration: none;
  cursor: pointer;
  max-width: 100%;
}
PREFIX .ubermenu-responsive-toggle:hover {
  text-decoration: none;
}
PREFIX .ubermenu-responsive-toggle .fab,
PREFIX .ubermenu-responsive-toggle .far,
PREFIX .ubermenu-responsive-toggle .fas,
PREFIX .ubermenu-responsive-toggle .svg-inline--fa {
  width: 1.3em;
  text-align: center;
  margin-right: 0.6em;
}
PREFIX .ubermenu-responsive-toggle-icon-only .fab,
PREFIX .ubermenu-responsive-toggle-icon-only .far,
PREFIX .ubermenu-responsive-toggle-icon-only .fas,
PREFIX .ubermenu-responsive-toggle-icon-only .svg-inline--fa {
  margin-right: 0;
}
PREFIX .ubermenu-responsive-toggle-align-left {
  float: left;
}
PREFIX .ubermenu-responsive-toggle-align-right {
  float: right;
}
PREFIX .ubermenu-responsive-toggle-content-align-left {
  text-align: left;
}
PREFIX .ubermenu-responsive-toggle-content-align-center {
  text-align: center;
}
PREFIX .ubermenu-responsive-toggle-content-align-right {
  text-align: right;
}
PREFIX button.ubermenu-responsive-toggle-align-full {
  width: 100%;
}
PREFIX .ubermenu-bar-align-full {
  clear: both;
}
PREFIX .ubermenu-bar-align-left {
  float: left;
}
PREFIX .ubermenu-bar-align-right {
  float: right;
}
PREFIX .ubermenu-bar-align-center {
  float: none;
  margin: 0 auto;
}
PREFIX .ubermenu-bar-inner-center .ubermenu-nav {
  margin: 0 auto;
}
PREFIX .ubermenu-items-align-center {
  text-align: center;
}
PREFIX .ubermenu-items-align-right {
  text-align: right;
}
PREFIX .ubermenu .ubermenu-item {
  text-align: left;
  display: inline-block;
  vertical-align: top;
}
PREFIX .ubermenu-horizontal.ubermenu-items-align-flex .ubermenu-nav {
  display: flex;
}
PREFIX .ubermenu-horizontal.ubermenu-items-align-flex .ubermenu-nav .ubermenu-item-level-0 {
  flex-grow: 1;
  text-align: center;
}
PREFIX .ubermenu .ubermenu-item-level-0 {
  vertical-align: bottom;
  -moz-backface-visibility: visible;
  backface-visibility: visible;
}
PREFIX .ubermenu-items-align-top .ubermenu-item-level-0 {
  vertical-align: top;
}
PREFIX .ubermenu .ubermenu-item.ubermenu-item-level-0 {
  float: none;
}
PREFIX .ubermenu-items-align-left.ubermenu-horizontal .ubermenu-item.ubermenu-item-level-0 {
  float: left;
}
PREFIX .ubermenu.ubermenu-horizontal .ubermenu-item.ubermenu-align-left {
  float: left;
}
PREFIX .ubermenu.ubermenu-horizontal .ubermenu-item.ubermenu-align-right {
  float: right;
}
PREFIX body:not(.rtl) .ubermenu.ubermenu-horizontal .ubermenu-item-level-0:first-child > .ubermenu-target {
  border-left: none;
}
PREFIX .ubermenu .ubermenu-colgroup .ubermenu-column,
PREFIX .ubermenu .ubermenu-custom-content-padded,
PREFIX .ubermenu .ubermenu-nonlink,
PREFIX .ubermenu .ubermenu-retractor,
PREFIX .ubermenu .ubermenu-submenu-padded,
PREFIX .ubermenu .ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target,
PREFIX .ubermenu .ubermenu-target,
PREFIX .ubermenu .ubermenu-widget,
PREFIX .ubermenu-responsive-toggle {
  padding: 15px 20px;
}
PREFIX .ubermenu .ubermenu-target-nowrap > .ubermenu-target-title {
  white-space: nowrap;
}
PREFIX .ubermenu-horizontal .ubermenu-item.ubermenu-item-mini > .ubermenu-target {
  padding-left: 5px;
  padding-right: 5px;
}
PREFIX .ubermenu .ubermenu-item-level-0.ubermenu-has-submenu-stack {
  position: relative;
}
PREFIX .ubermenu .ubermenu-item-level-0 > .ubermenu-submenu-type-stack {
  padding-top: 0;
}
PREFIX .ubermenu .ubermenu-item-level-0 > .ubermenu-submenu-type-stack > .ubermenu-item {
  clear: both;
  width: 100%;
}
PREFIX .ubermenu .ubermenu-submenu .ubermenu-submenu-type-stack {
  width: auto;
}
PREFIX .ubermenu .ubermenu-active .ubermenu-submenu .ubermenu-submenu-type-stack {
  visibility: visible;
  opacity: 1;
  display: block;
}
PREFIX .ubermenu .ubermenu-autocolumn,
PREFIX .ubermenu .ubermenu-submenu-type-stack {
  padding-top: 10px;
  padding-bottom: 10px;
}
PREFIX .ubermenu .ubermenu-item-type-column > .ubermenu-submenu-type-stack {
  padding-top: 0;
}
PREFIX .ubermenu .ubermenu-item-type-column > .ubermenu-submenu-type-stack > .ubermenu-item-normal:first-child {
  margin-top: 10px;
}
PREFIX .ubermenu .ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target {
  padding-top: 5px;
  padding-bottom: 5px;
}
PREFIX .ubermenu .ubermenu-target {
  display: block;
  text-decoration: none;
  position: relative;
}
PREFIX .ubermenu .ubermenu-target-with-image {
  overflow: hidden;
}
PREFIX .ubermenu .ubermenu-submenu .ubermenu-target {
  backface-visibility: hidden;
}
PREFIX .ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target > .ubermenu-sub-indicator {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
}
PREFIX .ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target {
  padding-right: 25px;
}
PREFIX .ubermenu-sub-indicators .ubermenu-item-has-children > .ubermenu-target.ubermenu-noindicator {
  padding-right: 20px;
}
PREFIX .ubermenu-sub-indicators .ubermenu-item-mini.ubermenu-item-has-children > .ubermenu-target.ubermenu-noindicator {
  padding-right: 5px;
}
PREFIX .ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-noindicator > .ubermenu-sub-indicator {
  display: none;
}
PREFIX .ubermenu-sub-indicators.ubermenu-sub-indicators-align-text .ubermenu-has-submenu-drop > .ubermenu-target > .ubermenu-sub-indicator {
  right: auto;
  margin-left: 0.6em;
}
PREFIX .ubermenu-sub-indicators .ubermenu-submenu-type-flyout > .ubermenu-has-submenu-drop > .ubermenu-target > .ubermenu-sub-indicator,
PREFIX .ubermenu-sub-indicators .ubermenu-submenu-type-stack > .ubermenu-has-submenu-drop.ubermenu-has-submenu-flyout > .ubermenu-target > .ubermenu-sub-indicator {
  transform: rotate(-90deg);
}
PREFIX .ubermenu-sub-indicators .ubermenu-submenu .ubermenu-has-submenu-flyout.ubermenu-submenu-reverse > .ubermenu-target > .ubermenu-sub-indicator {
  right: auto;
  left: 10px;
  transform: rotate(90deg);
}
PREFIX .ubermenu.ubermenu-submenu-indicator-closes .ubermenu-sub-indicator-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  text-align: center;
  vertical-align: bottom;
  display: none;
  height: 100%;
}
PREFIX .ubermenu.ubermenu-submenu-indicator-closes .ubermenu-sub-indicator-close > [class^=fa] {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -0.4em;
  left: 0;
  width: 100%;
}
PREFIX .ubermenu.ubermenu-submenu-indicator-closes .ubermenu-sub-indicator-close > .svg-inline--fa {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
PREFIX .ubermenu .ubermenu-target-text {
  display: inline-block;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}
PREFIX .ubermenu .ubermenu-target-description {
  font-size: 80%;
  font-weight: 400;
  clear: both;
  display: block;
}
PREFIX .ubermenu .ubermenu-target-with-image > .ubermenu-target-text {
  display: block;
  clear: none;
}
PREFIX .ubermenu .ubermenu-item.ubermenu-disable-padding > .ubermenu-target {
  padding: 0;
}
PREFIX .ubermenu.ubermenu-sub-indicators .ubermenu-item.ubermenu-disable-padding.ubermenu-has-submenu-drop > .ubermenu-target {
  padding-right: 30px;
}
PREFIX .ubermenu .ubermenu-image {
  display: block;
  max-width: 100%;
  transition: opacity 1s ease;
  opacity: 1;
}
PREFIX .ubermenu .ubermenu-image:not(.ubermenu-image-lazyload) {
  height: auto;
}
PREFIX .ubermenu .ubermenu-image-lazyload {
  opacity: 0;
}
PREFIX .ubermenu .ubermenu-item-layout-image_left > .ubermenu-target-text {
  padding-left: 50px;
}
PREFIX .ubermenu .ubermenu-item-layout-image_left > .ubermenu-image {
  float: left;
}
PREFIX .ubermenu .ubermenu-item-layout-image_right > .ubermenu-target-text {
  padding-right: 50px;
}
PREFIX .ubermenu .ubermenu-item-layout-image_right > .ubermenu-image {
  float: right;
}
PREFIX .ubermenu .ubermenu-item-layout-image_above > .ubermenu-image {
  margin-bottom: 10px;
}
PREFIX .ubermenu .ubermenu-item-layout-image_below > .ubermenu-image {
  margin-top: 10px;
}
PREFIX .ubermenu .ubermenu-icon {
  width: 1.3em;
  text-align: center;
  line-height: 1em;
  vertical-align: baseline;
}
PREFIX .ubermenu .ubermenu-icon.svg-inline--fa {
  vertical-align: -0.125em;
}
PREFIX .ubermenu .ubermenu-item-notext > .ubermenu-icon {
  line-height: 1.3em;
}
PREFIX .ubermenu .ubermenu-item-layout-icon_bottom > .ubermenu-icon,
PREFIX .ubermenu .ubermenu-item-layout-icon_top > .ubermenu-icon {
  line-height: 1.3em;
  vertical-align: baseline;
}
PREFIX .ubermenu.ubermenu-sub-indicators .ubermenu-has-submenu-drop:not(.ubermenu-tab) > .ubermenu-target.ubermenu-item-layout-icon_bottom > .ubermenu-sub-indicator,
PREFIX .ubermenu.ubermenu-sub-indicators .ubermenu-has-submenu-drop:not(.ubermenu-tab) > .ubermenu-target.ubermenu-item-layout-icon_top > .ubermenu-sub-indicator {
  left: 50%;
  right: auto;
  margin-left: -4px;
  bottom: 7px;
  top: auto;
}
PREFIX .ubermenu .ubermenu-item-layout-icon_top > .ubermenu-icon {
  margin-bottom: 5px;
}
PREFIX .ubermenu .ubermenu-item-layout-icon_bottom > .ubermenu-icon {
  margin-top: 5px;
}
PREFIX .ubermenu .ubermenu-item-layout-icon_top.ubermenu-item-notext > .ubermenu-icon {
  margin: 0;
}
PREFIX .ubermenu .ubermenu-item-layout-icon_left > .ubermenu-target-title {
  margin-left: 0.6em;
  display: inline-block;
}
PREFIX .ubermenu.ubermenu-icons-inline .ubermenu-item-layout-icon_left > .ubermenu-icon,
PREFIX .ubermenu.ubermenu-icons-inline .ubermenu-item-layout-icon_left > .ubermenu-target-title {
  display: inline;
  white-space: normal;
}
PREFIX .ubermenu .ubermenu-content-align-left {
  text-align: left;
}
PREFIX .ubermenu .ubermenu-content-align-left > .ubermenu-image {
  display: inline-block;
}
PREFIX .ubermenu .ubermenu-content-align-center {
  text-align: center;
}
PREFIX .ubermenu .ubermenu-content-align-center > .ubermenu-image {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
PREFIX .ubermenu .ubermenu-content-align-right {
  text-align: right;
}
PREFIX .ubermenu .ubermenu-content-align-right > .ubermenu-image {
  display: inline-block;
}
PREFIX .ubermenu .ubermenu-column,
PREFIX .ubermenu .ubermenu-row {
  max-width: 100%;
}
PREFIX .ubermenu .ubermenu-item .ubermenu-submenu-drop {
  position: absolute;
  z-index: 500;
  top: -10000px;
  height: 0;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
}
PREFIX .ubermenu .ubermenu-item:not(.ubermenu-active) .ubermenu-submenu-drop {
  min-height: 0 !important;
}
PREFIX .ubermenu .ubermenu-item .ubermenu-submenu-padded {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
PREFIX .ubermenu .ubermenu-item.ubermenu-active > .ubermenu-submenu-drop,
PREFIX .ubermenu-nojs .ubermenu-item:hover > .ubermenu-submenu-drop {
  display: block;
  visibility: visible;
  opacity: 1;
  height: auto;
  max-height: none;
}
PREFIX .ubermenu .ubermenu-item.ubermenu-active > .ubermenu-submenu-type-flyout,
PREFIX .ubermenu-nojs .ubermenu-item:hover > .ubermenu-submenu-type-flyout {
  overflow: visible;
}
PREFIX .ubermenu .ubermenu-item.ubermenu-in-transition > .ubermenu-submenu-type-flyout {
  overflow: hidden;
}
PREFIX .ubermenu .ubermenu-item .ubermenu-submenu-drop {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
PREFIX .ubermenu .ubermenu-item-level-0 > .ubermenu-submenu-drop {
  clip: rect(0, 5000px, 5000px, -5000px);
}
PREFIX .ubermenu-bound .ubermenu-submenu-type-mega {
  min-width: 50%;
}
PREFIX .ubermenu .ubermenu-grid-row,
PREFIX .ubermenu .ubermenu-submenu-grid {
  padding-right: 20px;
}
PREFIX .ubermenu .ubermenu-submenu-type-mega .ubermenu-grid-row > .ubermenu-item > .ubermenu-target,
PREFIX .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-grid > .ubermenu-item > .ubermenu-target {
  padding-right: 0;
}
PREFIX .ubermenu .ubermenu-item.ubermenu-active > .ubermenu-target,
PREFIX .ubermenu-nojs .ubermenu-item:hover > .ubermenu-target {
  position: relative;
}
PREFIX .ubermenu .ubermenu-item.ubermenu-active .ubermenu-submenu-drop,
PREFIX .ubermenu-nojs .ubermenu-item:hover .ubermenu-submenu-drop {
  z-index: 20;
}
PREFIX .ubermenu .ubermenu-submenu-drop.ubermenu-submenu-align-left_edge_item {
  left: auto;
}
PREFIX .ubermenu .ubermenu-submenu-drop.ubermenu-submenu-align-right_edge_item {
  right: auto;
}
PREFIX .ubermenu .ubermenu-submenu-drop.ubermenu-submenu-align-full_width,
PREFIX .ubermenu .ubermenu-submenu-drop.ubermenu-submenu-align-left_edge_bar {
  left: 0;
}
PREFIX .ubermenu .ubermenu-submenu-drop.ubermenu-submenu-align-right_edge_bar {
  right: 0;
}
PREFIX .ubermenu .ubermenu-submenu-rtl {
  direction: rtl;
}
PREFIX .ubermenu .ubermenu-submenu-rtl > * {
  direction: ltr;
}
PREFIX .ubermenu .ubermenu-submenu-drop.ubermenu-submenu-align-full_width {
  width: 100%;
}
PREFIX .ubermenu .ubermenu-retractor {
  display: block;
  clear: both;
  text-align: center;
  cursor: pointer;
}
PREFIX .ubermenu .ubermenu-retractor:hover {
  background: rgba(0, 0, 0, 0.1);
}
PREFIX .ubermenu .ubermenu-retractor-desktop {
  position: absolute;
  right: 0;
  top: 0;
  padding: 7px 10px;
  z-index: 100;
}
PREFIX .ubermenu .ubermenu-submenu-type-stack > .ubermenu-item {
  display: block;
}
PREFIX .ubermenu .ubermenu-submenu-type-stack > .ubermenu-item.ubermenu-column-auto {
  width: 100%;
  display: block;
  float: none;
  min-width: 0;
}
PREFIX .ubermenu .ubermenu-item-header > .ubermenu-submenu-type-stack > .ubermenu-autocolumn,
PREFIX .ubermenu .ubermenu-item-header > .ubermenu-submenu-type-stack > .ubermenu-autocolumn > .ubermenu-submenu-type-stack > .ubermenu-item-normal:first-child {
  padding-top: 0;
  margin-top: 0;
}
PREFIX .ubermenu .ubermenu-autocolumn + .ubermenu-item-view-all {
  clear: both;
}
PREFIX .ubermenu .ubermenu-submenu-type-stack.ubermenu-submenu-indent {
  padding-left: 1.6em;
  padding-top: 0.4em;
}
PREFIX .ubermenu .ubermenu-submenu-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  color: inherit;
  font-size: inherit;
  list-style: none;
}
PREFIX .ubermenu .ubermenu-submenu-footer a {
  text-decoration: none;
  font-weight: 700;
  font-size: inherit;
}
PREFIX .ubermenu .ubermenu-item.ubermenu-active.ubermenu-in-transition > .ubermenu-submenu-drop,
PREFIX .ubermenu .ubermenu-item.ubermenu-in-transition > .ubermenu-submenu-drop {
  overflow: hidden!important;
  height: auto;
}
PREFIX .ubermenu .ubermenu-item .ubermenu-submenu-drop {
  -webkit-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
PREFIX .ubermenu-transition-none .ubermenu-item .ubermenu-submenu-drop {
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
  top: auto;
}
PREFIX .ubermenu-nojs.ubermenu-transition-none .ubermenu-item:hover > .ubermenu-submenu-drop,
PREFIX .ubermenu-transition-none .ubermenu-item.ubermenu-active > .ubermenu-submenu-drop {
  max-height: none;
  height: auto;
  overflow-y: visible;
}
PREFIX .ubermenu-transition-slide .ubermenu-item .ubermenu-submenu-drop {
  -webkit-transition-property: max-height, visibility;
  -ms-transition-property: max-height, visibility;
  transition-property: max-height, visibility;
  max-height: 0;
  top: auto;
}
PREFIX .ubermenu-nojs.ubermenu-transition-slide .ubermenu-item:hover > .ubermenu-submenu-drop,
PREFIX .ubermenu-transition-slide .ubermenu-item.ubermenu-active > .ubermenu-submenu-drop {
  max-height: 1000px;
}
PREFIX .ubermenu-transition-fade .ubermenu-item .ubermenu-submenu-drop {
  opacity: 0;
  -webkit-transition-property: opacity,visibility;
  -ms-transition-property: opacity,visibility;
  transition-property: opacity,visibility;
  top: auto;
  margin-top: 1px;
}
PREFIX .ubermenu-nojs.ubermenu-transition-fade .ubermenu-item:hover > .ubermenu-submenu-drop,
PREFIX .ubermenu-transition-fade .ubermenu-item.ubermenu-active > .ubermenu-submenu-drop {
  opacity: 1;
  top: auto;
}
PREFIX .ubermenu-transition-shift .ubermenu-item .ubermenu-submenu-drop {
  margin-top: 20px;
  top: auto;
  opacity: 0;
  -webkit-transition-property: margin-top, opacity, visibility;
  -ms-transition-property: margin-top, opacity, visibility;
  transition-property: margin-top, opacity, visibility;
}
PREFIX .ubermenu-nojs.ubermenu-transition-shift .ubermenu-item:hover > .ubermenu-submenu-drop,
PREFIX .ubermenu-transition-shift .ubermenu-item.ubermenu-active > .ubermenu-submenu-drop {
  margin-top: 0;
  opacity: 1;
}
PREFIX .ubermenu.ubermenu-transition-slide .ubermenu-active > .ubermenu-submenu.ubermenu-submenu-type-mega,
PREFIX .ubermenu:not(.ubermenu-transition-slide) .ubermenu-submenu.ubermenu-submenu-type-mega {
  max-height: 600px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
PREFIX .ubermenu.ubermenu-disable-submenu-scroll .ubermenu-item > .ubermenu-submenu.ubermenu-submenu-type-mega {
  overflow: hidden;
}
PREFIX .ubermenu.ubermenu-disable-submenu-scroll .ubermenu-active > .ubermenu-submenu.ubermenu-submenu-type-mega {
  max-height: none;
}
PREFIX .ubermenu .ubermenu-submenu-type-flyout > .ubermenu-item {
  display: block;
  float: none;
  position: relative;
  min-width: 150px;
  clear: both;
}
PREFIX .ubermenu .ubermenu-submenu .ubermenu-submenu-type-flyout {
  min-width: 100%;
}
PREFIX .ubermenu:not(.ubermenu-transition-slide) .ubermenu-submenu.ubermenu-submenu-type-flyout {
  max-height: 99999px;
}
PREFIX .ubermenu .ubermenu-submenu-type-flyout > .ubermenu-item.ubermenu-active {
  z-index: 50;
}
PREFIX .ubermenu .ubermenu-submenu .ubermenu-submenu-type-flyout {
  margin-top: -1px;
  top: 0;
  left: 100%;
  min-width: 0;
  clip: rect(-10px, 5000px, 5000px, 0);
}
PREFIX .ubermenu-nojs.ubermenu-transition-shift .ubermenu-submenu .ubermenu-item:hover > .ubermenu-submenu-drop.ubermenu-submenu-type-flyout,
PREFIX .ubermenu-transition-shift .ubermenu-submenu .ubermenu-item.ubermenu-active > .ubermenu-submenu-drop.ubermenu-submenu-type-flyout {
  margin-top: -1px;
}
PREFIX .ubermenu .ubermenu-submenu .ubermenu-submenu-type-flyout.ubermenu-submenu-align-right_edge_item {
  left: auto;
  right: 100%;
  clip: rect(-10px, 5000px, 5000px, -5000px);
}
PREFIX .ubermenu .ubermenu-submenu .ubermenu-item.ubermenu-active > .ubermenu-submenu-type-flyout {
  top: 0;
}
PREFIX .ubermenu .ubermenu-submenu-type-flyout > .ubermenu-item.ubermenu-has-submenu-mega {
  position: static;
}
PREFIX .ubermenu .ubermenu-submenu.ubermenu-submenu-type-flyout > .ubermenu-item > .ubermenu-submenu.ubermenu-submenu-type-mega {
  left: 100%;
  top: 0;
  min-height: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  clip: rect(-10px, 5000px, 5000px, -5000px);
}
PREFIX .ubermenu .ubermenu-submenu.ubermenu-submenu-type-flyout > .ubermenu-item.ubermenu-submenu-flyout-mega-left > .ubermenu-target > .ubermenu-sub-indicator {
  right: auto;
  left: 10px;
  transform: rotate(90deg);
}
PREFIX .ubermenu .ubermenu-submenu.ubermenu-submenu-type-flyout > .ubermenu-item.ubermenu-submenu-flyout-mega-left > .ubermenu-submenu.ubermenu-submenu-type-mega.ubermenu-submenu-align-left_edge_item {
  right: 100%;
  left: auto;
}
PREFIX .ubermenu.ubermenu-horizontal .ubermenu-item-level-1:first-child > .ubermenu-submenu-type-flyout,
PREFIX .ubermenu.ubermenu-horizontal .ubermenu-item-level-1:first-child > .ubermenu-submenu-type-flyout > .ubermenu-item:first-child > .ubermenu-submenu-type-flyout,
PREFIX .ubermenu.ubermenu-horizontal .ubermenu-submenu-type-flyout .ubermenu-submenu-type-mega {
  border-top: none;
}
PREFIX .ubermenu .ubermenu-item .ubermenu-submenu-type-mega .ubermenu-submenu-drop {
  margin-top: 0;
  clip: rect(0, 5000px, 5000px, -5000px);
}
PREFIX .ubermenu .ubermenu-item .ubermenu-submenu-type-mega .ubermenu-item.ubermenu-has-submenu-flyout {
  position: relative;
}
PREFIX .ubermenu .ubermenu-item .ubermenu-submenu-type-mega > .ubermenu-item.ubermenu-has-submenu-flyout > .ubermenu-submenu-drop {
  top: auto;
  left: auto;
  box-shadow: none;
}
PREFIX .ubermenu .ubermenu-submenu-type-mega .ubermenu-item.ubermenu-has-submenu-flyout.ubermenu-active {
  z-index: 100;
}
PREFIX .ubermenu .ubermenu-row {
  margin-bottom: 10px;
  clear: both;
}
PREFIX .ubermenu .ubermenu-row:after {
  content: "";
  display: table;
  clear: both;
}
PREFIX .ubermenu .ubermenu-clear-row {
  clear: both;
}
PREFIX .ubermenu .ubermenu-submenu .ubermenu-column {
  display: block;
  float: left;
  width: auto;
}
PREFIX .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-content-align-left {
  text-align: left;
}
PREFIX .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-content-align-right {
  text-align: right;
}
PREFIX .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-content-align-center {
  text-align: center;
}
PREFIX .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-content-align-center > .ubermenu-column,
PREFIX .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-content-align-center > .ubermenu-row > .ubermenu-column,
PREFIX .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-content-align-left > .ubermenu-column,
PREFIX .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-content-align-left > .ubermenu-row > .ubermenu-column,
PREFIX .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-content-align-right > .ubermenu-column,
PREFIX .ubermenu .ubermenu-submenu-type-mega.ubermenu-submenu-content-align-right > .ubermenu-row > .ubermenu-column {
  display: inline-block;
  float: none;
}
PREFIX .ubermenu .ubermenu-submenu .ubermenu-column-auto {
  min-width: 100px;
  width: auto;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-full {
  width: 100%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-1-2 {
  width: 50%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-1-3 {
  width: 33.33%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-2-3 {
  width: 66.66%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-1-4 {
  width: 25%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-3-4 {
  width: 75%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-1-5 {
  width: 20%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-2-5 {
  width: 40%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-3-5 {
  width: 60%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-4-5 {
  width: 80%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-1-6 {
  width: 16.66%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-5-6 {
  width: 83.33%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-1-7 {
  width: 14.28%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-2-7 {
  width: 28.57%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-3-7 {
  width: 42.85%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-4-7 {
  width: 57.14%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-5-7 {
  width: 71.42%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-6-7 {
  width: 85.71%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-1-8 {
  width: 12.5%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-3-8 {
  width: 37.5%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-5-8 {
  width: 62.5%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-7-8 {
  width: 87.5%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-1-9 {
  width: 11.11%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-2-9 {
  width: 22.22%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-4-9 {
  width: 44.44%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-5-9 {
  width: 55.55%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-7-9 {
  width: 77.77%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-8-9 {
  width: 88.88%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-1-10 {
  width: 10%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-3-10 {
  width: 30%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-7-10 {
  width: 70%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-9-10 {
  width: 90%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-1-11 {
  width: 9.09%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-2-11 {
  width: 18.18%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-3-11 {
  width: 27.27%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-4-11 {
  width: 36.36%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-5-11 {
  width: 45.45%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-6-11 {
  width: 54.54%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-7-11 {
  width: 63.63%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-8-11 {
  width: 72.72%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-9-11 {
  width: 81.81%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-10-11 {
  width: 90.9%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-1-12 {
  width: 8.33%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-5-12 {
  width: 41.66%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-7-12 {
  width: 58.33%;
}
PREFIX .ubermenu .ubermenu-nav .ubermenu-column-11-12 {
  width: 91.66%;
}
PREFIX .ubermenu .ubermenu-autoclear > .ubermenu-column-1-10:nth-child(10n+1),
PREFIX .ubermenu .ubermenu-autoclear > .ubermenu-column-1-11:nth-child(11n+1),
PREFIX .ubermenu .ubermenu-autoclear > .ubermenu-column-1-12:nth-child(12n+1),
PREFIX .ubermenu .ubermenu-autoclear > .ubermenu-column-1-2:nth-child(2n+1),
PREFIX .ubermenu .ubermenu-autoclear > .ubermenu-column-1-3:nth-child(3n+1),
PREFIX .ubermenu .ubermenu-autoclear > .ubermenu-column-1-4:nth-child(4n+1),
PREFIX .ubermenu .ubermenu-autoclear > .ubermenu-column-1-5:nth-child(5n+1),
PREFIX .ubermenu .ubermenu-autoclear > .ubermenu-column-1-6:nth-child(6n+1),
PREFIX .ubermenu .ubermenu-autoclear > .ubermenu-column-1-7:nth-child(7n+1),
PREFIX .ubermenu .ubermenu-autoclear > .ubermenu-column-1-8:nth-child(8n+1),
PREFIX .ubermenu .ubermenu-autoclear > .ubermenu-column-1-9:nth-child(9n+1),
PREFIX .ubermenu .ubermenu-autoclear > .ubermenu-column-full {
  clear: both;
}
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column {
  clear: none;
}
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column-1-10:nth-child(10n+2),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column-1-11:nth-child(11n+2),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column-1-12:nth-child(12n+2),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column-1-2:nth-child(2n+2),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column-1-3:nth-child(3n+2),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column-1-4:nth-child(4n+2),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column-1-5:nth-child(5n+2),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column-1-6:nth-child(6n+2),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column-1-7:nth-child(7n+2),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column-1-8:nth-child(8n+2),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column-1-9:nth-child(9n+2),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top > .ubermenu-column-full {
  clear: both;
}
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top.ubermenu-submenu-retractor-top-2 > .ubermenu-column {
  clear: none;
}
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top-2 > .ubermenu-column-1-10:nth-child(10n+3),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top-2 > .ubermenu-column-1-11:nth-child(11n+3),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top-2 > .ubermenu-column-1-12:nth-child(12n+3),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top-2 > .ubermenu-column-1-2:nth-child(2n+3),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top-2 > .ubermenu-column-1-3:nth-child(3n+3),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top-2 > .ubermenu-column-1-4:nth-child(4n+3),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top-2 > .ubermenu-column-1-5:nth-child(5n+3),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top-2 > .ubermenu-column-1-6:nth-child(6n+3),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top-2 > .ubermenu-column-1-7:nth-child(7n+3),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top-2 > .ubermenu-column-1-8:nth-child(8n+3),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top-2 > .ubermenu-column-1-9:nth-child(9n+3),
PREFIX .ubermenu .ubermenu-autoclear.ubermenu-submenu-retractor-top-2 > .ubermenu-column-full {
  clear: both;
}
PREFIX .ubermenu .ubermenu-tabs {
  position: relative;
  width: 100%;
}
PREFIX .ubermenu .ubermenu-tabs-group {
  border-style: solid;
}
PREFIX .ubermenu .ubermenu-tab .ubermenu-tab-content-panel {
  position: absolute;
  display: none;
}
PREFIX .ubermenu .ubermenu-tab .ubermenu-tab-content-panel,
PREFIX .ubermenu .ubermenu-tab > .ubermenu-target {
  border-width: 0;
  border-style: solid;
}
PREFIX .ubermenu .ubermenu-tab.ubermenu-active > .ubermenu-tab-content-panel,
PREFIX .ubermenu-nojs .ubermenu-tab:hover > .ubermenu-tab-content-panel {
  display: block;
}
PREFIX .ubermenu-nojs .ubermenu-tabs-show-default > .ubermenu-tabs-group > .ubermenu-tab:first-child > .ubermenu-tab-content-panel {
  display: block;
}
PREFIX .ubermenu-nojs .ubermenu-tabs-show-default:hover > .ubermenu-tabs-group > .ubermenu-tab:first-child > .ubermenu-tab-content-panel {
  display: none;
}
PREFIX .ubermenu-nojs .ubermenu-tabs-show-default:hover > .ubermenu-tabs-group > .ubermenu-tab:first-child:hover > .ubermenu-tab-content-panel {
  display: block;
}
PREFIX .ubermenu .ubermenu-tab-layout-left > .ubermenu-tabs-group {
  float: left;
  border-width: 0 1px 0 0;
}
PREFIX .ubermenu .ubermenu-tab-layout-left > .ubermenu-tabs-group > .ubermenu-tab > .ubermenu-tab-content-panel {
  right: 0;
  top: 0;
}
PREFIX .ubermenu-sub-indicators .ubermenu-tabs.ubermenu-tab-layout-left > .ubermenu-tabs-group > .ubermenu-has-submenu-drop > .ubermenu-target > .ubermenu-sub-indicator {
  transform: rotate(-90deg);
}
PREFIX .ubermenu .ubermenu-tab-layout-right > .ubermenu-tabs-group {
  float: right;
  border-width: 0 0 0 1px;
}
PREFIX .ubermenu .ubermenu-tab-layout-right > .ubermenu-tabs-group > .ubermenu-tab > .ubermenu-tab-content-panel {
  left: 0;
  top: 0;
}
PREFIX .ubermenu .ubermenu-tab-layout-right > .ubermenu-tabs-group > .ubermenu-has-submenu-drop > .ubermenu-target {
  padding-left: 25px;
  padding-right: 20px;
}
PREFIX .ubermenu-sub-indicators .ubermenu-tab-layout-right > .ubermenu-tabs-group > .ubermenu-has-submenu-drop > .ubermenu-target > .ubermenu-sub-indicators {
  transform: rotate(90deg);
  right: auto;
  left: 10px;
}
PREFIX .ubermenu .ubermenu-tab-layout-top > .ubermenu-tabs-group {
  border-width: 0;
}
PREFIX .ubermenu .ubermenu-tab-layout-top > .ubermenu-tabs-group > .ubermenu-tab > .ubermenu-tab-content-panel {
  left: 0;
  top: auto;
  border-width: 1px 0 0 0;
}
PREFIX .ubermenu .ubermenu-tab-layout-bottom > .ubermenu-tabs-group {
  border-width: 1px 0 0 0;
  position: absolute;
  bottom: 0;
}
PREFIX .ubermenu .ubermenu-tab-layout-bottom > .ubermenu-tabs-group > .ubermenu-tab > .ubermenu-tab-content-panel {
  left: 0;
  bottom: 100%;
}
PREFIX .ubermenu-sub-indicators .ubermenu-tabs.ubermenu-tab-layout-bottom > .ubermenu-tabs-group > .ubermenu-has-submenu-drop > .ubermenu-target > .ubermenu-sub-indicator {
  transform: rotate(180deg);
}
PREFIX .ubermenu h3.ubermenu-widgettitle {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1.3em;
}
PREFIX .widget.ubermenu_navigation_widget-class {
  overflow: visible;
}
PREFIX .ubermenu .ubermenu-divider {
  clear: both;
  display: block;
  padding: 20px 0;
}
PREFIX .ubermenu .ubermenu-submenu-type-stack > .ubermenu-divider {
  padding: 10px 0;
}
PREFIX .ubermenu .ubermenu-divider hr {
  padding: 0;
  margin: 0;
  display: block;
  height: 1px;
  background: 0 0;
  border: 0;
  border-top: 1px solid #ddd;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
PREFIX .ubermenu .ubermenu-search .ubermenu-searchform {
  position: relative;
  background: #f9f9f9;
  width: 150px;
  margin: 7px;
}
PREFIX .ubermenu .ubermenu-search input.ubermenu-search-input {
  width: 100%;
  padding: 8px 40px 8px 15px;
  color: #333;
  background: 0 0;
  border: none;
}
PREFIX .ubermenu .ubermenu-search .ubermenu-search-submit,
PREFIX .ubermenu .ubermenu-searchbar-drop .ubermenu-search-submit {
  position: absolute;
  width: 40px;
  height: 100%;
  top: 0;
  right: 0;
  border: none;
  background: 0 0;
  cursor: pointer;
  color: #666;
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
PREFIX .ubermenu .ubermenu-submenu .ubermenu-search .ubermenu-searchform {
  height: 50px;
  margin: 0;
  background: #f9f9f9;
  width: 100%;
}
PREFIX .ubermenu .ubermenu-submenu .ubermenu-search input.ubermenu-search-input {
  width: 100%;
  padding: 14px 50px 14px 25px;
  height: 100%;
  color: #333;
  background: 0 0;
}
PREFIX .ubermenu .ubermenu-submenu .ubermenu-search .ubermenu-search-submit,
PREFIX .ubermenu .ubermenu-submenu .ubermenu-searchbar-drop .ubermenu-search-submit {
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  right: 0;
  border: none;
  background: 0 0;
  cursor: pointer;
  color: #666;
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
PREFIX .ubermenu .ubermenu-postlist-item {
  margin-bottom: 10px;
}
PREFIX .ubermenu .ubermenu-postlist .ubermenu-image {
  float: left;
}
PREFIX .ubermenu .ubermenu-postlist-title > a {
  color: inherit;
  text-decoration: none;
}
PREFIX .ubermenu .ubermenu-postlist-content {
  font-size: 11px;
  opacity: 0.7;
}
PREFIX .ubermenu .ubermenu-map-canvas img {
  max-width: none;
}
PREFIX .ubermenu-screen-reader,
PREFIX .ubermenu-target-divider {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  margin: 0;
  border: 0;
}
PREFIX .uber-clear:after,
PREFIX .ubermenu .ubermenu-column:after,
PREFIX .ubermenu .ubermenu-content-block:after,
PREFIX .ubermenu .ubermenu-image:after,
PREFIX .ubermenu .ubermenu-postlist-item:after,
PREFIX .ubermenu .ubermenu-submenu:after,
PREFIX .ubermenu .ubermenu-tabs:after,
PREFIX .ubermenu:after {
  content: "";
  display: table;
  clear: both;
}
PREFIX .ubermenu {
  background: 0 0;
}
PREFIX .ubermenu-submenu-drop {
  background: #fff;
}
PREFIX .ubermenu-test-dimensions {
  visibility: hidden!important;
  display: block !important;
}
PREFIX .ubermenu .ubermenu-force > .ubermenu-submenu {
  display: block!important;
  opacity: 1!important;
  visibility: visible!important;
  margin: 0!important;
  top: auto!important;
  max-height: 600px;
  height: auto;
  overflow: auto !important;
}
PREFIX .ubermenu-notransition,
PREFIX .ubermenu-notransition > .ubermenu-submenu-drop {
  -webkit-transition: none!important;
  -moz-transition: none!important;
  -o-transition: none!important;
  -ms-transition: none!important;
  transition: none !important;
}
PREFIX .ubermenu-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
PREFIX .ubermenu-sr-only-focusable:active,
PREFIX .ubermenu-sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  outline-style: solid;
  box-shadow: 0 0 10px #3b99fc;
  color: #fff;
  background: #3b99fc;
  padding: 2px 5px;
  font-size: 12px;
  outline-color: #3b99fc;
}
PREFIX .ubermenu-admin-notice {
  background: #eee;
  color: #333;
  padding: 15px;
  border-left: 30px solid #4d90fe;
  margin: 20px;
  position: relative;
  font-size: 12px;
  clear: both;
}
PREFIX .ubermenu-admin-notice a,
PREFIX .ubermenu-admin-notice a:visited {
  color: #00a3ff;
  text-decoration: underline;
  font-size: inherit;
}
PREFIX .ubermenu-admin-notice a:hover {
  color: #0d75af;
}
PREFIX .ubermenu-admin-notice strong {
  color: tomato;
}
PREFIX .ubermenu-admin-notice .ubermenu-admin-notice-icon {
  position: absolute;
  left: -18px;
  top: 50%;
  margin-top: -5px;
  color: #fff;
  font-size: 13px;
}
PREFIX .ubermenu-admin-notice:after {
  display: none;
  position: absolute;
  content: 'UberMenu Notice: Only displayed to admin users';
  left: -30px;
  bottom: 100%;
  background: #666;
  color: #eee;
  padding: 7px 10px;
  font-size: 11px;
}
PREFIX .ubermenu-admin-notice:hover:after {
  display: block;
}
PREFIX #wp-admin-bar-ubermenu .svg-inline--fa {
  width: 14px;
  margin-right: 4px;
}
PREFIX #wp-admin-bar-ubermenu .fa,
PREFIX #wp-admin-bar-ubermenu .far,
PREFIX #wp-admin-bar-ubermenu .fas {
  font-family: "Font Awesome\ 5 Free", "Font Awesome 5 Pro";
  font-weight: 900;
  margin-right: 4px;
  color: #aaa;
}
PREFIX #wp-admin-bar-ubermenu_loading .fa,
PREFIX #wp-admin-bar-ubermenu_loading .svg-inline--fa {
  color: #ff0;
}
PREFIX #wpadminbar #wp-admin-bar-ubermenu_loading #wp-admin-bar-ubermenu_loading_msg .ab-item {
  width: 300px;
  white-space: normal;
  height: auto;
  padding: 10px 20px;
  line-height: 1.5em;
}
PREFIX .ubermenu-responsive-toggle.ubermenu-loc-ubermenu-direct-inject,
PREFIX .ubermenu.ubermenu-loc-ubermenu-direct-inject {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
PREFIX .admin-bar .ubermenu-responsive-toggle.ubermenu-loc-ubermenu-direct-inject,
PREFIX .admin-bar .ubermenu.ubermenu-loc-ubermenu-direct-inject {
  top: 32px;
}
@media screen and (max-width: 959px) {
  PREFIX .ubermenu.ubermenu-loc-ubermenu-direct-inject {
    margin-top: 47px;
  }
}
@media screen and (max-width: 782px) {
  PREFIX .admin-bar .ubermenu-responsive-toggle.ubermenu-loc-ubermenu-direct-inject,
  PREFIX .admin-bar .ubermenu.ubermenu-loc-ubermenu-direct-inject {
    top: 46px;
  }
  PREFIX .ubermenu-responsive-toggle.ubermenu-loc-ubermenu-direct-inject,
  PREFIX .ubermenu.ubermenu-loc-ubermenu-direct-inject {
    position: absolute;
  }
}
PREFIX .ubermenu-diagnostics-loadscreen {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background: #ddd;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10000000000000000;
}
PREFIX .um-folding-cube {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
PREFIX .um-folding-cube .um-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
PREFIX .um-folding-cube .um-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: um-foldCubeAngle 2.4s infinite linear both;
  animation: um-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
PREFIX .um-folding-cube .um-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
PREFIX .um-folding-cube .um-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
PREFIX .um-folding-cube .um-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
PREFIX .um-folding-cube .um-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
PREFIX .um-folding-cube .um-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
PREFIX .um-folding-cube .um-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes um-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0);
    transform: perspective(140px) rotateX(0);
    opacity: 1;
  }
  100%,
  90% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes um-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0);
    transform: perspective(140px) rotateX(0);
    opacity: 1;
  }
  100%,
  90% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
PREFIX .ubermenu-vertical .ubermenu-item-level-0 {
  display: block;
  clear: both;
}
PREFIX .ubermenu-vertical.ubermenu-items-align-right .ubermenu-item-level-0 {
  text-align: right;
}
PREFIX .ubermenu-vertical.ubermenu-items-align-center .ubermenu-item-level-0 {
  text-align: center;
}
PREFIX .ubermenu-vertical .ubermenu-item-level-0 > .ubermenu-submenu-drop {
  clip: rect(-5000px, 5000px, 5000px, 0);
}
PREFIX .ubermenu.ubermenu-vertical .ubermenu-item-level-0 > .ubermenu-target {
  box-shadow: none;
  border-left: none;
}
PREFIX .ubermenu-vertical.ubermenu-sub-indicators .ubermenu-item-level-0.ubermenu-item-has-children > .ubermenu-target > .ubermenu-sub-indicator {
  transform: rotate(-90deg);
}
PREFIX .ubermenu-vertical .ubermenu-item > .ubermenu-submenu-drop {
  left: 100%;
  margin-left: 0;
  top: 0;
}
PREFIX .ubermenu-nojs.ubermenu-vertical .ubermenu-item-level-0:hover > .ubermenu-submenu-drop,
PREFIX .ubermenu-vertical .ubermenu-active .ubermenu-submenu.ubermenu-submenu-type-flyout .ubermenu-submenu-type-mega,
PREFIX .ubermenu-vertical .ubermenu-item-level-0.ubermenu-active > .ubermenu-submenu-drop {
  top: 0;
  min-height: 100%;
}
PREFIX .ubermenu-nojs.ubermenu-vertical .ubermenu-item-level-0:hover > .ubermenu-submenu-drop.ubermenu-submenu-align-vertical_parent_item,
PREFIX .ubermenu-vertical .ubermenu-item-level-0.ubermenu-active > .ubermenu-submenu-drop.ubermenu-submenu-align-vertical_parent_item {
  min-height: 0;
}
PREFIX .ubermenu-vertical .ubermenu-item.ubermenu-flyout-full-height {
  position: static;
}
PREFIX .ubermenu-vertical .ubermenu-item.ubermenu-flyout-full-height > .ubermenu-submenu-drop {
  min-height: 100%!important;
  max-height: none;
  height: auto;
}
PREFIX .ubermenu-vertical .ubermenu-submenu .ubermenu-item.ubermenu-active > .ubermenu-submenu-drop {
  top: 0;
}
PREFIX .ubermenu-vertical.ubermenu-transition-slide .ubermenu-item.ubermenu-active.ubermenu-in-transition > .ubermenu-submenu-drop {
  min-height: 0;
}
PREFIX .ubermenu-vertical .ubermenu-item > .ubermenu-submenu-type-mega {
  width: 600px;
  margin: 0;
}
PREFIX .ubermenu-vertical .ubermenu-tab-layout-left > .ubermenu-tabs-group > .ubermenu-tab > .ubermenu-tab-content-panel,
PREFIX .ubermenu-vertical .ubermenu-tab-layout-right > .ubermenu-tabs-group > .ubermenu-tab > .ubermenu-tab-content-panel {
  min-height: 100%;
}
PREFIX .ubermenu-vertical .ubermenu-item.ubermenu-relative {
  position: relative;
}
PREFIX .ubermenu-vertical .ubermenu-item.ubermenu-relative.ubermenu-active {
  z-index: 20;
}
PREFIX .ubermenu-vertical .ubermenu-item.ubermenu-item-level-0.ubermenu-relative.ubermenu-active > .ubermenu-submenu-drop.ubermenu-submenu-align-vertical_parent_item {
  top: 0;
}
PREFIX .ubermenu-vertical .ubermenu-item.ubermenu-item-mini {
  float: left;
  clear: none;
}
PREFIX .ubermenu.ubermenu-vertical .ubermenu-item.ubermenu-item-mini > .ubermenu-target {
  background: 0 0;
  box-shadow: none;
}
PREFIX .rtl .ubermenu,
PREFIX .rtl .ubermenu .ubermenu-item,
PREFIX .rtl .ubermenu.ubermenu-item-align-auto {
  text-align: right;
}
PREFIX .rtl .ubermenu-items-align-left.ubermenu-horizontal {
  text-align: left;
}
PREFIX .rtl .ubermenu-items-align-left.ubermenu-horizontal .ubermenu-item.ubermenu-item-level-0 {
  float: none;
}
PREFIX .rtl .ubermenu-items-align-center.ubermenu-horizontal {
  text-align: center;
}
PREFIX .rtl .ubermenu-items-align-left.ubermenu-horizontal .ubermenu-item.ubermenu-item-level-0 {
  float: none;
}
PREFIX .rtl .ubermenu.ubermenu-horizontal .ubermenu-item-level-0:last-child > .ubermenu-target {
  border-left: none;
  box-shadow: none;
}
PREFIX .rtl .ubermenu .ubermenu-submenu-type-mega > .ubermenu-column:not(.ubermenu-tabs-group),
PREFIX .rtl .ubermenu .ubermenu-submenu-type-tab-content-panel > .ubermenu-column:not(.ubermenu-tabs-group) {
  float: right;
}
PREFIX .rtl .ubermenu .ubermenu-item-layout-icon_left > .ubermenu-target-title {
  margin-left: 0;
  margin-right: 0.6em;
}
PREFIX .rtl .ubermenu-sub-indicators .ubermenu-item-level-0.ubermenu-has-submenu-drop > .ubermenu-target {
  padding-right: 20px;
  padding-left: 25px;
}
PREFIX .rtl .ubermenu-sub-indicators .ubermenu-item-level-0.ubermenu-has-submenu-drop > .ubermenu-target > .ubermenu-sub-indicator {
  right: auto;
  left: 10px;
}
PREFIX .rtl .ubermenu.ubermenu-sub-indicators .ubermenu-item.ubermenu-disable-padding.ubermenu-has-submenu-drop > .ubermenu-target {
  padding-left: 30px;
  padding-right: 0;
}
PREFIX .rtl .ubermenu .ubermenu-submenu .ubermenu-search .ubermenu-search-submit,
PREFIX .rtl .ubermenu .ubermenu-submenu .ubermenu-searchbar-drop .ubermenu-search-submit {
  left: 0;
  right: auto;
}
PREFIX .rtl .ubermenu .ubermenu-search input.ubermenu-search-input {
  padding: 8px 15px 8px 40px;
}
PREFIX .rtl .ubermenu .ubermenu-submenu .ubermenu-search input.ubermenu-search-input {
  padding: 14px 25px 14px 50px;
}
PREFIX .rtl .ubermenu.ubermenu-submenu-indicator-closes .ubermenu-sub-indicator-close {
  right: auto;
  left: 0;
}
@media screen and (min-width: 960px) {
  PREFIX .ubermenu-responsive-default.ubermenu {
    display: block !important;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-item.ubermenu-hide-desktop {
    display: none !important;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-retractors-responsive .ubermenu-retractor-mobile {
    display: none;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-force-current-submenu .ubermenu-item-level-0.ubermenu-current-menu-ancestor > .ubermenu-submenu-drop,
  PREFIX .ubermenu-responsive-default.ubermenu-force-current-submenu .ubermenu-item-level-0.ubermenu-current-menu-item > .ubermenu-submenu-drop {
    display: block!important;
    opacity: 1!important;
    visibility: visible!important;
    margin: 0!important;
    top: auto!important;
    height: auto;
    z-index: 19;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-invert.ubermenu-horizontal .ubermenu-item-level-0 > .ubermenu-submenu-drop {
    top: auto;
    bottom: 100%;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-invert.ubermenu-horizontal.ubermenu-sub-indicators .ubermenu-item-level-0.ubermenu-has-submenu-drop > .ubermenu-target > .ubermenu-sub-indicator {
    transform: rotate(180deg);
  }
  PREFIX .ubermenu-responsive-default.ubermenu-invert.ubermenu-horizontal .ubermenu-submenu .ubermenu-item.ubermenu-active > .ubermenu-submenu-type-flyout {
    top: auto;
    bottom: 0;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-invert.ubermenu-horizontal .ubermenu-item-level-0 > .ubermenu-submenu-drop {
    clip: rect(-5000px, 5000px, auto, -5000px);
  }
  PREFIX .ubermenu-responsive-default.ubermenu-invert.ubermenu-vertical .ubermenu-item-level-0 > .ubermenu-submenu-drop {
    right: 100%;
    left: auto;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-invert.ubermenu-vertical.ubermenu-sub-indicators .ubermenu-item-level-0.ubermenu-item-has-children > .ubermenu-target > .ubermenu-sub-indicator {
    right: auto;
    left: 10px;
    transform: rotate(90deg);
  }
  PREFIX .ubermenu-responsive-default.ubermenu-vertical.ubermenu-invert .ubermenu-item > .ubermenu-submenu-drop {
    clip: rect(-5000px, 5000px, 5000px, -5000px);
  }
  PREFIX .ubermenu-responsive-default.ubermenu-vertical.ubermenu-invert.ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target {
    padding-left: 25px;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-vertical.ubermenu-invert .ubermenu-item > .ubermenu-target > .ubermenu-sub-indicator {
    right: auto;
    left: 10px;
    transform: rotate(90deg);
  }
  PREFIX .ubermenu-responsive-default.ubermenu-vertical.ubermenu-invert .ubermenu-item > .ubermenu-submenu-drop.ubermenu-submenu-type-flyout,
  PREFIX .ubermenu-responsive-default.ubermenu-vertical.ubermenu-invert .ubermenu-submenu-type-flyout > .ubermenu-item > .ubermenu-submenu-drop {
    right: 100%;
    left: auto;
  }
}
@media screen and (max-width: 959px) {
  PREFIX .ubermenu-responsive-toggle,
  PREFIX .ubermenu-sticky-toggle-wrapper {
    display: block;
  }
  PREFIX .ubermenu-no-transitions.ubermenu-responsive.ubermenu-responsive-collapse {
    display: none;
    visibility: visible;
    height: auto;
    max-height: none;
    overflow: visible !important;
  }
  PREFIX .ubermenu-sticky-wrapper {
    min-height: 0 !important;
  }
  PREFIX .ubermenu-sticky-toggle-wrapper {
    display: block;
  }
  PREFIX .ubermenu-responsive-default .ubermenu-responsive-toggle,
  PREFIX .ubermenu-responsive-default .ubermenu-sticky-toggle-wrapper {
    display: block;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive {
    width: 100%;
    max-height: 500px;
    visibility: visible;
    overflow: visible;
    -webkit-transition: max-height 1s ease-in;
    transition: max-height 0.3s ease-in;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-items-align-center {
    text-align: left;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu {
    margin: 0;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu .ubermenu-nav {
    display: block;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-repsonsive.ubermenu-no-transitions,
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-responsive-nocollapse {
    display: block;
    max-height: none;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-responsive-collapse {
    max-height: none;
    visibility: visible;
    overflow: visible;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-responsive-collapse {
    max-height: 0;
    overflow: hidden!important;
    visibility: hidden;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-in-transition,
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-in-transition .ubermenu-nav {
    overflow: hidden!important;
    visibility: visible;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-responsive-collapse:not(.ubermenu-in-transition) {
    border-top-width: 0;
    border-bottom-width: 0;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-responsive-collapse .ubermenu-item .ubermenu-submenu {
    display: none;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-item-level-0 {
    width: 50%;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-responsive-single-column .ubermenu-item-level-0 {
    float: none;
    clear: both;
    width: 100%;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-item.ubermenu-item-level-0 > .ubermenu-target {
    border: none;
    box-shadow: none;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-item.ubermenu-has-submenu-flyout {
    position: static;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-sub-indicators .ubermenu-submenu-type-flyout .ubermenu-has-submenu-drop > .ubermenu-target > .ubermenu-sub-indicator {
    transform: rotate(0);
    right: 10px;
    left: auto;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-nav .ubermenu-item .ubermenu-submenu.ubermenu-submenu-drop {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    top: auto;
    left: 0 !important;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-has-border .ubermenu-nav .ubermenu-item .ubermenu-submenu.ubermenu-submenu-drop {
    left: -1px !important;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-submenu.ubermenu-submenu-type-mega > .ubermenu-item.ubermenu-column {
    min-height: 0;
    border-left: none;
    float: left;
    display: block;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-item.ubermenu-active > .ubermenu-submenu.ubermenu-submenu-type-mega {
    max-height: none;
    height: auto;
    overflow: visible;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-transition-slide .ubermenu-item.ubermenu-in-transition > .ubermenu-submenu-drop {
    max-height: 1000px;
  }
  PREFIX .ubermenu-responsive-default.ubermenu .ubermenu-submenu-type-flyout .ubermenu-submenu-type-mega {
    min-height: 0;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-column,
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-column-auto {
    min-width: 50%;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-autoclear > .ubermenu-column {
    clear: none;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-column:nth-of-type(2n+1) {
    clear: both;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-submenu-retractor-top:not(.ubermenu-submenu-retractor-top-2) .ubermenu-column:nth-of-type(2n+1) {
    clear: none;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-submenu-retractor-top:not(.ubermenu-submenu-retractor-top-2) .ubermenu-column:nth-of-type(2n+2) {
    clear: both;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive-single-column-subs .ubermenu-submenu .ubermenu-item {
    float: none;
    clear: both;
    width: 100%;
    min-width: 100%;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-tab,
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-tab-content-panel,
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-tabs,
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-tabs-group {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    left: 0;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-tab-content-panel,
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-tabs {
    min-height: 0 !important;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-tabs {
    z-index: 15;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-tab-content-panel {
    z-index: 20;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-tab {
    position: relative;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-tab.ubermenu-active {
    position: relative;
    z-index: 20;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-tab > .ubermenu-target {
    border-width: 0 0 1px 0;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-sub-indicators .ubermenu-tabs > .ubermenu-tabs-group > .ubermenu-tab.ubermenu-has-submenu-drop > .ubermenu-target > .ubermenu-sub-indicator {
    transform: rotate(0);
    right: 10px;
    left: auto;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-tabs > .ubermenu-tabs-group > .ubermenu-tab > .ubermenu-tab-content-panel {
    top: auto;
    border-width: 1px;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-reponsive .ubermenu-item-level-0 > .ubermenu-submenu-type-stack {
    position: relative;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-submenu-type-stack .ubermenu-column,
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-submenu-type-stack .ubermenu-column-auto {
    width: 100%;
    max-width: 100%;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-item-mini {
    min-width: 0;
    width: auto;
    float: left;
    clear: none !important;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-item.ubermenu-item-mini > a.ubermenu-target {
    padding-left: 20px;
    padding-right: 20px;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive .ubermenu-item.ubermenu-hide-mobile {
    display: none !important;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-responsive.ubermenu-hide-bkgs .ubermenu-submenu.ubermenu-submenu-bkg-img {
    background-image: none;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-item-level-0.ubermenu-item-mini {
    min-width: 0;
    width: auto;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-vertical .ubermenu-item.ubermenu-item-level-0 {
    width: 100%;
  }
  PREFIX .ubermenu-responsive-default.ubermenu-vertical.ubermenu-sub-indicators .ubermenu-item-level-0.ubermenu-item-has-children > .ubermenu-target > .ubermenu-sub-indicator {
    right: 10px;
    left: auto;
    transform: rotate(0);
  }
  PREFIX .ubermenu-responsive-default.ubermenu-vertical .ubermenu-item.ubermenu-item-level-0.ubermenu-relative.ubermenu-active > .ubermenu-submenu-drop.ubermenu-submenu-align-vertical_parent_item {
    top: auto;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-tabs {
    position: static;
  }
  PREFIX .ubermenu-responsive-default.ubermenu:not(.ubermenu-is-mobile):not(.ubermenu-submenu-indicator-closes) .ubermenu-submenu .ubermenu-tab[data-ubermenu-trigger=hover_intent] .ubermenu-tab-content-panel,
  PREFIX .ubermenu-responsive-default.ubermenu:not(.ubermenu-is-mobile):not(.ubermenu-submenu-indicator-closes) .ubermenu-submenu .ubermenu-tab[data-ubermenu-trigger=mouseover] .ubermenu-tab-content-panel {
    margin-left: 6%;
    width: 94%;
    min-width: 94%;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-submenu-indicator-closes .ubermenu-active > .ubermenu-target > .ubermenu-sub-indicator-close {
    display: block;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-submenu-indicator-closes .ubermenu-active > .ubermenu-target > .ubermenu-sub-indicator {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-item-level-0 {
    width: 100%;
  }
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-column,
  PREFIX .ubermenu-responsive-default.ubermenu.ubermenu-responsive .ubermenu-column-auto {
    min-width: 100%;
  }
  PREFIX .ubermenu-responsive-default.ubermenu .ubermenu-autocolumn:not(:first-child),
  PREFIX .ubermenu-responsive-default.ubermenu .ubermenu-autocolumn:not(:first-child) .ubermenu-submenu-type-stack {
    padding-top: 0;
  }
  PREFIX .ubermenu-responsive-default.ubermenu .ubermenu-autocolumn:not(:last-child),
  PREFIX .ubermenu-responsive-default.ubermenu .ubermenu-autocolumn:not(:last-child) .ubermenu-submenu-type-stack {
    padding-bottom: 0;
  }
  PREFIX .ubermenu-responsive-default.ubermenu .ubermenu-autocolumn > .ubermenu-submenu-type-stack > .ubermenu-item-normal:first-child {
    margin-top: 0;
  }
}
